html{
  width: 100%;
  height: 100%;
}
p{
  font-family:Helvetica,Arial;
  color:rgba(240,240,240,1);
  font-weight: lighter;
}
body{
  position: absolute;
  background-color: rgba(30, 30, 30, 1);
  width:100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.navBarText{
  text-align: center;
  font-size: 36px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
.header{
  /*background: url("http://mita4829.github.io/Images/Index.jpg") no-repeat top center fixed;*/
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header img{
  width: 100%;
  display: block;
  position: absolute;
  vertical-align: bottom;
  top:-50px;
}
#content{
  width:100%;
  height:100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(30, 30, 30, 1);
}
.container{
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(40, 40, 40, 1);
  border-radius: 10px;
  border-style: solid;
}

.subTitle{
  font-size: 36px;
  color:rgba(200,200,200,1);
}
.blockText{
  color: rgba(170,170,170,1);
  font-size: 20px;
}
a{
  color:rgba(100, 150, 255 , 1);
}
#navBar{
  position: absolute;
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(60, 60, 60, 0.5);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
  border-radius: 0 0 20px 20px;
  top:-500px;
  width:100%;
  height:600px;
  z-index: 1;
}

#grabber{
  position: relative;
  width: 100px;
  margin: 0 auto;
  margin-top: 540px;
  margin-bottom: 0;
}

#icons{
  position: relative;
  width: 100%;
}


#parallax{
  position: relative;
  background: url("../Images/ParallaxWallpaper.png");
  background-size: cover;
  width:100%;
  margin: 0 auto;
  border-radius: 10px;
}

#parallax2{
  position: relative;
  background: url("../Images/MacOS.png");
  background-size: cover;
  width:100%;
  margin: 0 auto;
}

#macOS{
  position: relative;
  width: 100%;
}

.centerImage{
  position: relative;
  width: inherit;
}


#box2{
  position: relative;
  flex: 1;
}
#box3{
  position: relative;
  flex: 2;
}
.parent{
  display: flex;
}
@media only screen and (min-width:375px) and (max-width: 1000px) {
  .subTitle{
    font-size: 36px;
    color:rgba(200,200,200,1);
  }
  .blockText{
    color: rgba(170,170,170,1);
    font-size: 24px;
  }
  .container{
    margin: 40px;
    padding: 20px;
    text-align: justify;
    background-color: rgba(40, 40, 40, 1);
    border-radius: 20px;
    overflow: hidden;
  }
  .parent{
    display: block;
  }
  #box2{
    margin: 40px;
    padding: 10px;
    position: relative;
    width: auto;
  }
  #box3{
    margin: 40px;
    padding: 10px;
    position: relative;
    width: auto;
  }
}
