html{
  width: 100%;
  height: 100%;
}
p{
  font-family:Helvetica,Arial;
}
body{
  background-color: rgba(244, 244, 244, 1);
  margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}
.header{/*
  position: absolute;
  display:flex;
  left: 0px;
  top: 0px;
  overflow: hidden;
  max-height: 400px;
  width: 100%;
  align-items: center;
  background-size: cover;*/

   background-image: image("Images/index.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.content{
  width:100%;
  height:100%;
margin: 0;
padding: 0;
}
